// Variables
$orange: #d97834
$gray: #cccccc

// General styles
*
  margin: 0
  padding: 0
  outline: none
.shadow
  -webkit-box-shadow: 0px 0px 49px 8px rgba(99,99,99,1)
  -moz-box-shadow: 0px 0px 49px 8px rgba(99,99,99,1)
  box-shadow: 0px 0px 49px 8px rgba(99,99,99,1)

.bg-black
  background-color: #000000
.text-color-orange
  color: $orange

.navbar-brand
  text-align: right
.top
  height: 100vh
