// Variables
$orange: #d97834
$gray: #cccccc

// General styles
.shadow
  -webkit-box-shadow: 0px 0px 49px 8px rgba(99,99,99,1)
  -moz-box-shadow: 0px 0px 49px 8px rgba(99,99,99,1)
  box-shadow: 0px 0px 49px 8px rgba(99,99,99,1)

